<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="MD5Key" value="tmsk_mu_06"/>
    <add key="ServerKey" value="MK:OJojPJMP"/>
    <add key="LimitIP" value="127.0.0.1,localhost"/>
    <add key="LoadConfigFromServer" value="true"/>
    <add key="HuanYingSiYuanRoleCountTotal" value="16"/>
    <add key="HuanYingSiYuanRoleCountPerSide" value="8"/>
    <add key="WritePerformanceLogMs" value="10"/>
    <add key="SignUpWaitSecs1" value="30"/>
    <add key="SignUpWaitSecs2" value="60"/>
    <add key="WaitForJoinMaxSecs" value="60"/>
    <!--元素试炼配置 start-->
    <add key="ElementWarRoleCount" value="5"/>
    <!--元素试炼配置 end-->
    
    <!--需要运维填写的配置 start-->
    <add key="ServerListUrl" value="http://localhost/IOSLogin/GetServerList.aspx"/>
    <add key="KuaFuServerListUrl" value="http://localhost/KuaFuServerList/getserverlist.aspx"/>
    <add key="ConnectionString" value="host=127.0.0.1; user id=root; password=123456; database=mu_kuafu; pooling=true; charset=utf8;"/>
    <add key="HuanYingSiYuanDatabase" value="mu_kuafu"/>
    <add key="TianTiDatabase" value="mu_tianti"/>
    <add key="ElementWarDatabase" value="mu_element"/>
    <!--需要运维填写的配置 end-->
  </appSettings>

  <system.runtime.remoting>
		<application>
      <lifetime leaseTime="2000S" sponsorshipTimeout="0S" renewOnCallTime="180S" leaseManagerPollTime="5S"/>
      <service>
        <wellknown mode="Singleton" type="KF.Remoting.HuanYingSiYuanService,KF.Remoting.HuanYingSiYuan" objectUri="HuanYingSiYuanService.soap" />
        <wellknown mode="Singleton" type="KF.Remoting.TianTiService,KF.Remoting.HuanYingSiYuan" objectUri="TianTiService.soap" />
        <wellknown mode="Singleton" type="KF.Remoting.ElementWarService,KF.Remoting.HuanYingSiYuan" objectUri="ElementWarService.soap" />
      </service>

			<channels>
				<channel ref="tcp">
					<serverProviders>
						<provider ref="wsdl" />
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>

  <system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>

